.App {
  text-align: center;
  box-sizing: border-box;
}

.masonry {
  margin: auto;
  max-width: 1400px;
}

.masonry-item {
  display: grid;
  grid-template-areas: "image image image" "text text text" "user heart likes";
  border: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.masonry-image {
  max-width: 200px;
  height: auto;
  grid-area: image;
}

.masonry-text {
  grid-area: text;
}

.masonry-user {
  grid-area: user;
}

.masonry-heart {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  grid-area: heart;
  color: red;
}

.masonry-likes {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  grid-area: likes;
  padding-left: 2px;
}

.modal-container {
  position: relative;
}
.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

.create-pin {
  margin-bottom: 2rem;
}

.create-pin-form {
  padding: 1rem 0;
}

.create-pin-form-input {
  padding-bottom: 1rem;
}
